
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erreur Fortnite Tracker</title>
</head>
<body>
    <h1><%= message %></h1>
<form action="/">
    <button id="buttonGoBack" type="submit">Retour</button>
</form>

    <style>
        body{
            background-color: #070719;
        }
        h1{
            color: #9a93c9;
            text-align: center;
        }
        #buttonGoBack{
            width: 270px;
            height: 35px;
            display: block;
            margin-left: auto;
            margin-right: auto;
            background-color: #9a93c9;
            border: none;
            border-radius: 25px;
        }
    
        #buttonGoBack:hover{
            background-color: #c1b8d6;
        }
    </style>
</body>
</html>


