<!DOCTYPE html>
<html>
  <head>
    <title>Fortnite statistique</title>

    <link rel='stylesheet' href='/stylesheets/index.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

  </head>
  <body>

  <div id="containImg">
      <img src="/images/logo.png" id="logo">
  </div>
    <form action="/stat/player/fortnite" method="post" id="statsForm">
      <input type="text" name="userId" id="inputPseudo" placeholder="Pseudo Epic" required>
      <button type="submit" id="submitPseudo"><h2 id="buttonTXT">Statistiques</h2></button>
    </form>

<div id="containImgFofo">
    <img src="/images/imgFortine.png" id="imgFofo">
  </div>
  </body>
</html>
